<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<h1>Liste des articles</h1>
<p>
    <a th:href="@{article/form}">Ajouter un article</a>
</p>
<table>
    <thead>
    <tr>
        <th>Libellé</th>
        <th>Description</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article, stat : ${articles}" th:id="${article.id}" th:attr="data-num=${stat.index}">
        <td>
            <input type="text" id="libelle" th:value="${article.libelle}" readonly="true" />
        </td>
        <td>
            <input type="text" id="description" th:value="${article.description}" readonly="true"  />
        </td>
        <td>
            <input type="text" id="prix" th:value="${article.prix}"  readonly="true"  />
        </td>
        <td>
            <img th:src="@{'/' + ${article.cheminImage}}" alt="Article image" width="100" height="50" />

        </td>
        <td>
            <input type="button" value="Modifier" th:attr="data-num=${stat.index}">
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/article/upload}" method="post" enctype="multipart/form-data">
    <!-- Autres champs -->
    <div class="form-group">
        <label for="image">Image :</label>
        <input type="file" id="image" name="image" />
    </div>
    <button type="submit">Enregistrer</button>
</form>


<a th:href="@{login}">Se déconnecter</a>



<script th:src="@{/js/article.js}"></script>

</body>
</html>