<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Liste des articles</h1>
<script th:inline="javascript">
    var articles = /*[[${#strings.escapeJson(#json.encode(#lists.toList(articles)))}]]*/ '{}';

    // Exemple d'utilisation des données JSON
    articles.forEach(function(article) {
        console.log(article.libelle);
        console.log(article.description);
        console.log(article.prix);
    });
</script>

</body>
</html>